#jumboPic {
  background-image: url("../../assets/images/icecreamHero.jpg");
  background-size: cover;
  position: relative;
  min-height: 700px;
  right: 100px;
  width: 120% !important;
  overflow: hidden;
  background-position: center;
  padding: 10%;
  background-repeat: no-repeat !important;
  top: 16px;
  border: none;
}
h1 {
  color: #fafafa;
  text-shadow: 2px 6px 7px #d889e8, 1px 10px 1px #572458,
    1px 18px 6px rgba(203, 112, 221, 0.726);
  border: none;
  background-color: transparent;
  font-size: 60px !important;
  position: relative;
  font-family: "Pacifico", cursive !important;
  left: 50px;
  top: 10px;
  margin-right: 5px !important;
  flex-direction: row;
  flex-wrap: wrap;
}
