.footer-input {
  text-align: center;
  background-color: #d889e8;
  margin: 5px 5px 5px 5px;
  color: #1a0257;
  
}

h4.ui.header {
  padding: 10px 30px;
}
/* button.ui.button {
  padding: 5px 20px;
  margin: 5px 20px;
} */

.social-container {
  padding: 5px 40px;
}
a.social {
  margin: 0 1rem;
  transition: transform 250ms;
  display: inline-block;
}
a.social:hover {
  transform: translateY(-2px);
}
a.youtube {
  color: #eb3223;
}

a.facebook {
  color: #4968ad;
}

a.instagram {
  color: black;
}

h3.ui.header {
  
  color: #fafafa;
  text-shadow: 2px 3px 5px #89e5e8;
  border: none;
  background-color: transparent;
  font-size: 25px;
  position: relative;
  text-align: center;
  font-family: "Pacifico", cursive;
  
}
button.ui.button {
  height: 37px;
  width: 180px;
  margin: 0 40px 0 16px;
  box-sizing: border-box;
  border: transparent;
  border-radius: 60px;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #fafafa;
  background-color: #89e5e8;
  cursor: pointer;
  outline: none;
}

button.ui.button:hover {
  background-color: #89e5e8;
  opacity: 0.3;
}



input {
  border-radius: 60px;
}
