.cart .close {
  color: #fafafa;
  position: relative;
  /* top: 25px; */
  /* right: 65px; */
  font-size: 20px;
  cursor: pointer;
  padding: 0.25rem;
  /* width: 50px;
  height: 50px; */
  text-shadow: 2px 3px 5px #89e5e8;
  border: none;
  background-color: transparent;
  flex-direction: row;
  display: flex;
}

.cart-closed {
  color: #fafafa;
  position: relative;
  top: 25px;
  right: 65px;
  font-size: 35px;
  cursor: pointer;
  padding: 0.25rem;
  width: 50px;
  height: 50px;
  text-shadow: 2px 3px 5px #89e5e8;
  border: none;
  background-color: transparent;
  flex-direction: row;
  display: flex;
}

.cart input {
  width: 50px;
  padding: 0;
  margin: 0 0.5rem 1rem 0;
}

@media screen and (max-width: 768px) {
  .cart {
    position: relative;
    max-width: 100%;
    max-height: auto;
    box-shadow: none;
    background-color: inherit;
  }

  .cart-closed {
    position: relative;
    margin: 0 auto;
  }
}

h4 {
  font-family: "Lato", sans-serif;
}

h6 {
  text-align: center;
  padding: -5px 5px 5px 5px;
  color: #1a0257;
  text-shadow: 1px 1px #d889e8;
}

h2 {
  text-align: center;
  font-family: "Pacifico", cursive;
}
